
:root {
  --accent-color: #34a46c;
  --background-color: #d2f9f0;
  --background-color-darker: #c1f0e5;
  --widget-bg-color: var(--background-color-darker);
  --widget-bg: var(--widget-bg-color);
  --text-color: #362b36;
  --text-color-red: firebrick;

  --border-color: #dddddd;
  --border-radius: 6px;
  --area-border: 1px solid var(--border-color);

  --highlight-bg-color: #dff5f3;
  --highlight-bg: var(--highlight-bg-color);
  --highlight-border-color: #89c2b2;
  --highlight-border: 1px solid var(--highlight-border-color);
  --highlight-color: var(--accent-color);

  --checkmark-success-color: LimeGreen;

  --button-color: #777;
  --disabled-button-color: #bbbbbb;

  --ui-state-active-color: #ffffff;
  --ui-hover-color: var(--accent-color);
  --ui-widget-header-border-color: #89c2b2;
  --ui-widget-header-border-hover-color: #00ff8c;
  --ui-widget-content-color: #3f7f5f;
  --ui-widget-content-default-background: #e2fbf8;
  --ui-widget-content-active-background: #63dbcf;
  --ui-widget-content-hover-background: #97fbf1;

  --highlight-object-color: var(--ui-widget-content-active-background);
}