/node_modules
/release
package-lock.json
*.code-workspace
/.vscode
/app/templates/verse_list.js
/app/templates/tag_list.js
/app/commit_info.js
strongs_todo.txt
.DS_Store
complexity_metrics.html
test_screenshot.png
/doc
/dist
chromedriverlog.txt
