[Desktop Entry]
Version=1.0
Type=Application
Name=Ezra Bible App
GenericName=Bible Study Tool
Comment=Bible study tool focussing on topical study based on keywords/tags
Exec=ezra-project
Icon=ezra-project
Terminal=false
StartupNotify=false
Categories=Education;Spirituality;Literature;
