name: Build Ezra Bible App packages

on:
  push:
  release:
    types:
      - published

jobs:
    build-win32:
        name: Build Windows installer
        runs-on: windows-latest
        steps:
        - uses: actions/checkout@v1
        - name: Remove docs folder
          run: Remove-Item -Recurse -Force docs
          shell: pwsh
        - name: Install electron-installer-windows
          run: powershell npm install electron-installer-windows
#        - name: Install VS 2017 Build Tools
#          run: powershell choco install visualstudio2017buildtools
#        - name: Install VS C++ features
#          run: powershell choco install visualstudio2017-workload-vctools
        - name: Build
          run: powershell .\build_scripts\win32\build_win32.bat
        - name: Upload symbols
          run: powershell .\build_scripts\win32\upload_symbols_to_sentry.bat
          env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Rename installer
          run: Get-ChildItem release\packages\*setup.exe | rename-item -NewName { "ezra-bible-app_win32_setup_latest.exe" }
          shell: pwsh
        - name: Upload installer
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_win32_latest
            path: release\packages\ezra-bible-app_win32_setup_latest.exe

#    build-mac:
#        name: Build macOS DMG file
#        runs-on: macos-latest
#        steps:
#        - uses: actions/checkout@v1
#        - name: Install pkg-config
#          run: brew install pkg-config
#        - name: Build
#          run: npm run build-mac
#        - name: Generate dmg
#          run: npm install electron-installer-dmg macos-alias ds-store && npm run dmg-mac
#        - name: Upload dmg
#          uses: actions/upload-artifact@v1.0.0
#          with:
#            name: ezra-bible-app_macos_latest
#            path: release/ezra-bible-app.dmg

    build-ubuntu-1804:
        name: Build Ubuntu 18.04 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_ubuntu1804
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_ubuntu1804_latest
            path: ezra-bible-app_latest.deb

    build-ubuntu-2004:
      name: Build Ubuntu 20.04 package
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v1
      - name: Build
        uses: ./.github/actions/build_ubuntu2004
        env:
          SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Upload deb file
        uses: actions/upload-artifact@v1.0.0
        with:
          name: ezra-bible-app_ubuntu2004_latest
          path: ezra-bible-app_latest.deb

    build-mint18:
        name: Build Mint 18 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_mint18
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_mint18_latest
            path: ezra-bible-app_latest.deb

    build-buster:
        name: Build Debian 10 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_buster
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_debian10_latest
            path: ezra-bible-app_latest.deb

    build-bullseye:
        name: Build Debian 11 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_bullseye
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_debian11_latest
            path: ezra-bible-app_latest.deb

    build-fedora31:
        name: Build Fedora 31 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_fedora31
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_fedora31_latest
            path: ezra-bible-app_latest.rpm

    build-fedora33:
        name: Build Fedora 33 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_fedora33
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # Create package and rename package are separate steps for Fedora 33,
        # because for some reason electron-installer-redhat is not properly
        # working on Fedora 33!
        - name: Create package
          run: npm install electron-installer-redhat && npm run rpm_fedora
        - name: Rename package
          run: mv release/packages/*.rpm $GITHUB_WORKSPACE/ezra-bible-app_latest.rpm
        - name: Upload rpm file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_fedora33_latest
            path: ezra-bible-app_latest.rpm

    build-centos8:
        name: Build CentOS 8 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_centos8
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_centos8_latest
            path: ezra-bible-app_latest.rpm

    build-opensuse-leap:
        name: Build OpenSuse Leap package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v1
        - name: Build
          uses: ./.github/actions/build_opensuseleap
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v1.0.0
          with:
            name: ezra-bible-app_opensuse_leap_latest
            path: ezra-bible-app_latest.rpm

    release:
      if: "github.event.release"
      name: Publish release artifacts
      runs-on: ubuntu-latest
      needs: [ build-win32, build-ubuntu-1804,
               build-ubuntu-2004, build-mint18,
               build-buster, build-bullseye,
               build-fedora31, build-fedora33,
               build-centos8, build-opensuse-leap ]

      steps:
      - name: Download win32 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_win32_latest

      - name: Download ubuntu-1804 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_ubuntu1804_latest

      - name: Download ubuntu-2004 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_ubuntu2004_latest

      - name: Download mint18 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_mint18_latest

      - name: Download debian10 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_debian10_latest

      - name: Download debian11 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_debian11_latest

      - name: Download fedora31 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_fedora31_latest

      - name: Download fedora33 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_fedora33_latest

      - name: Download centos8 package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_centos8_latest

      - name: Download opensuse leap package
        uses: actions/download-artifact@v1.0.0
        with:
          name: ezra-bible-app_opensuse_leap_latest

      - name: Rename artifacts for publishing
        shell: bash
        run: |
          mkdir packages
          mv ezra-bible-app_win32_latest/ezra-bible-app_win32_setup_latest.exe packages/ezra-bible-app_win32_setup-${GITHUB_REF##*/}.exe
          mv ezra-bible-app_ubuntu1804_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_ubuntu1804-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_ubuntu2004_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_ubuntu2004-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_mint18_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_mint18-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_debian10_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_debian10-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_debian11_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_debian11-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_centos8_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_centos8-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_fedora31_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_fedora31-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_opensuse_leap_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_opensuse_leap-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_fedora33_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_fedora33-${GITHUB_REF##*/}.rpm

      - name: Publish artifacts
        uses: skx/github-action-publish-binaries@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'packages/*.*'
