name: Build Ezra Bible App packages

on:
  push:
  release:
    types:
      - published

jobs:
    build-win32:
        name: Build Windows installer
        runs-on: windows-2025
        steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-node@v4
          with:
            node-version: '20.17.0'
        - name: Remove docs folder
          run: Remove-Item -Recurse -Force docs
          shell: pwsh
        - name: Build
          uses: nick-fields/retry@v2
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            timeout_minutes: 10
            max_attempts: 3
            command: powershell .\build_scripts\win32\build_win32.bat
        - name: Build installer
          run: powershell .\build_scripts\win32\build_installer_win32.bat
        - name: Upload symbols
          run: powershell .\build_scripts\win32\upload_symbols_to_sentry.bat
          env:
            SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Rename installer
          run: Get-ChildItem release\packages\*Setup.exe | rename-item -NewName { "ezra-bible-app_win32_setup_latest.exe" }
          shell: pwsh
        - name: Upload installer
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_win32_latest
            path: release\packages\ezra-bible-app_win32_setup_latest.exe

    build-mac:
        name: Build macOS DMG file
        runs-on: [macOS]
        if: github.event_name == 'release'
        timeout-minutes: 40
        steps:
        - uses: actions/checkout@v4
        - name: Build
          run: npm run build-mac
        - name: Sign
          run: npm run sign-mac
        - name: Notarize
          env:
            APPLE_ID: ${{ secrets.APPLE_ID }}
            APPLE_ID_PW: ${{ secrets.APPLE_ID_PW }}
            APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          run: npm run notarize-mac
        - name: Create DMG
          run: npm run dmg-mac
        - name: Rename DMG
          run: mv "release/Ezra Bible App".dmg release/ezra-bible-app.dmg
        - name: Upload dmg
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_macos_latest
            path: release/ezra-bible-app.dmg

    build-ubuntu-2004:
      name: Build Ubuntu 20.04 package
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build_ubuntu2004
        env:
          SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Upload deb file
        uses: actions/upload-artifact@v4.4.0
        with:
          name: ezra-bible-app_ubuntu2004_latest
          path: ezra-bible-app_latest.deb

    build-ubuntu-2204:
      name: Build Ubuntu 22.04 package
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build_ubuntu2204
        env:
          SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Upload deb file
        uses: actions/upload-artifact@v4.4.0
        with:
          name: ezra-bible-app_ubuntu2204_latest
          path: ezra-bible-app_latest.deb

    build-ubuntu-2404:
      name: Build Ubuntu 24.04 package
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build_ubuntu2404
        env:
          SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
      - name: Upload deb file
        uses: actions/upload-artifact@v4.4.0
        with:
          name: ezra-bible-app_ubuntu2404_latest
          path: ezra-bible-app_latest.deb

    build-bullseye:
        name: Build Debian 11 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_bullseye
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_debian11_latest
            path: ezra-bible-app_latest.deb

    build-bookworm:
        name: Build Debian 12 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_bookworm
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_debian12_latest
            path: ezra-bible-app_latest.deb

    build-trixie:
        name: Build Debian 13 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_trixie
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload deb file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_debian13_latest
            path: ezra-bible-app_latest.deb

    build-fedora33:
        name: Build Fedora 33 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_fedora33
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # Create package and rename package are separate steps for Fedora 33,
        # because for some reason electron-installer-redhat is not properly
        # working on Fedora 33!
        - name: Fix permissions
          run: sudo chown -R 1001:1001 $GITHUB_WORKSPACE
        - name: Create package
          run: npm install electron-installer-redhat && npm run rpm_fedora
        - name: Rename package
          run: mv release/packages/*.rpm $GITHUB_WORKSPACE/ezra-bible-app_latest.rpm
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_fedora33_latest
            path: ezra-bible-app_latest.rpm

    build-fedora35:
        name: Build Fedora 35 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_fedora35
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # Create package and rename package are separate steps for Fedora 35,
        # because for some reason electron-installer-redhat is not properly
        # working on Fedora 35!
        - name: Fix permissions
          run: sudo chown -R 1001:1001 $GITHUB_WORKSPACE
        - name: Create package
          run: npm install electron-installer-redhat && npm run rpm_fedora35
        - name: Rename package
          run: mv release/packages/*.rpm $GITHUB_WORKSPACE/ezra-bible-app_latest.rpm
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_fedora35_latest
            path: ezra-bible-app_latest.rpm

    build-fedora37:
        name: Build Fedora 37 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_fedora37
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        # Create package and rename package are separate steps for Fedora 35,
        # because for some reason electron-installer-redhat is not properly
        # working on Fedora 35!
        - name: Fix permissions
          run: sudo chown -R 1001:1001 $GITHUB_WORKSPACE
        - name: Create package
          run: npm install electron-installer-redhat && npm run rpm_fedora37
        - name: Rename package
          run: mv release/packages/*.rpm $GITHUB_WORKSPACE/ezra-bible-app_latest.rpm
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_fedora37_latest
            path: ezra-bible-app_latest.rpm

    build-centos8:
        name: Build CentOS 8 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_centos8
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_centos8_latest
            path: ezra-bible-app_latest.rpm

    build-centos9:
        name: Build CentOS 9 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_centos9
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_centos9_latest
            path: ezra-bible-app_latest.rpm

    build-opensuse-leap-15-5:
        name: Build OpenSuse Leap 15.5 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_opensuseleap15.5
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_opensuse_leap_15.5_latest
            path: ezra-bible-app_latest.rpm

    build-opensuse-leap-15-6:
        name: Build OpenSuse Leap 15.6 package
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Build
          uses: ./.github/actions/build_opensuseleap15.6
          env:
            SENTRY_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        - name: Upload rpm file
          uses: actions/upload-artifact@v4.4.0
          with:
            name: ezra-bible-app_opensuse_leap_15.6_latest
            path: ezra-bible-app_latest.rpm

    release:
      if: github.event_name == 'release'
      name: Publish release artifacts
      runs-on: ubuntu-latest
      needs: [ build-win32, build-mac, build-ubuntu-2004, build-ubuntu-2204,
               build-ubuntu-2404, build-bullseye, build-bookworm,
               build-fedora33, build-fedora35, build-fedora37,
               build-centos8, build-centos9, build-opensuse-leap-15-5,
               build-opensuse-leap-15-6]

      steps:
      - name: Download win32 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_win32_latest
          path: ezra-bible-app_win32_latest

      - name: Download macOS package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_macos_latest
          path: ezra-bible-app_macos_latest

      - name: Download ubuntu-2004 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_ubuntu2004_latest
          path: ezra-bible-app_ubuntu2004_latest

      - name: Download ubuntu-2204 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_ubuntu2204_latest
          path: ezra-bible-app_ubuntu2204_latest

      - name: Download ubuntu-2404 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_ubuntu2404_latest
          path: ezra-bible-app_ubuntu2404_latest

      - name: Download debian11 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_debian11_latest
          path: ezra-bible-app_debian11_latest

      - name: Download debian12 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_debian12_latest
          path: ezra-bible-app_debian12_latest
      
      - name: Download debian13 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_debian13_latest
          path: ezra-bible-app_debian13_latest
      
      - name: Download fedora33 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_fedora33_latest
          path: ezra-bible-app_fedora33_latest

      - name: Download fedora35 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_fedora35_latest
          path: ezra-bible-app_fedora35_latest

      - name: Download fedora37 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_fedora37_latest
          path: ezra-bible-app_fedora37_latest

      - name: Download centos8 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_centos8_latest
          path: ezra-bible-app_centos8_latest

      - name: Download centos9 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_centos9_latest
          path: ezra-bible-app_centos9_latest

      - name: Download opensuse leap 15.5 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_opensuse_leap_15.5_latest
          path: ezra-bible-app_opensuse_leap_15.5_latest

      - name: Download opensuse leap 15.6 package
        uses: actions/download-artifact@v4.1.8
        with:
          name: ezra-bible-app_opensuse_leap_15.6_latest
          path: ezra-bible-app_opensuse_leap_15.6_latest

      - name: Display structure of downloaded files
        run: ls -R

      - name: Rename artifacts for publishing
        shell: bash
        run: |
          mkdir packages
          mv ezra-bible-app_win32_latest/ezra-bible-app_win32_setup_latest.exe packages/ezra-bible-app_win32_setup-${GITHUB_REF##*/}.exe
          mv ezra-bible-app_macos_latest/ezra-bible-app.dmg packages/ezra-bible-app_macos-${GITHUB_REF##*/}.dmg
          mv ezra-bible-app_ubuntu2004_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_ubuntu2004-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_ubuntu2204_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_ubuntu2204-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_ubuntu2404_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_ubuntu2404-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_debian11_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_debian11-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_debian12_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_debian12-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_debian13_latest/ezra-bible-app_latest.deb packages/ezra-bible-app_debian13-${GITHUB_REF##*/}.deb
          mv ezra-bible-app_centos8_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_centos8-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_centos9_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_centos9-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_opensuse_leap_15.5_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_opensuse_leap_15.5-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_opensuse_leap_15.6_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_opensuse_leap_15.6-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_fedora33_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_fedora33-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_fedora35_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_fedora35-${GITHUB_REF##*/}.rpm
          mv ezra-bible-app_fedora37_latest/ezra-bible-app_latest.rpm packages/ezra-bible-app_fedora37-${GITHUB_REF##*/}.rpm

      - name: Publish artifacts
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: packages/*.*
